/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/components/menu/media.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
#media_name{
    margin-top: -60px;
    width: 90%;
}

Link{
    width: 32px;
}
