body{
    background-image: url('../../../public/fundo.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

div#login{
    background-color: rgba(0,0,0,0.8);
    color: white;
}


