/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/css/home/carrossel.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.splide{
    width: 1250px;
    height: 90vh;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.splide__slide img{
    width: 100%;
    height: 90vh;
    margin: auto;
    border-radius: 15px;
}

.splide__arrows button{
    display: none;
}

.splide__pagination button{
    display: none;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/css/home/home.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
#catalogo img{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/css/home/media.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
Link {
  width: 32px;
}

#media {
  opacity: 0.89;
}

#media_name {
  color: white;
  position: relative;
  top: -70px;
  width: 90%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
#media_name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  height: 100%;
  background-color: rgba(11, 1, 161, 0.5);
  border-radius: 5px;
}

#media_name:hover,
#media_name:focus {
  animation: hoverMedia 2s;
}

@keyframes hoverMedia {
  0% {
    color: rgba(255, 255, 255, 0.12);
    opacity: 0.95;
  }

  50% {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.97;
  }

  100% {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
}

@keyframes shadowMedia {
  0% {
    box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.5);
  }
  75% {
    box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.55);
  }
  100% {
    box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.6);
  }
}

#media_img:hover,
#media_img:focus {
  animation: shadowMedia 2s;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/css/login/login.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
form{
    background-color: rgba(16, 16, 16, 0.9);
    color: white;
}



/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/css/users/users.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
#user img:hover{
    animation: sombraImg 2s ;

}

@keyframes sombraImg {
    0%{
        box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.1);
    }
    50%{
        box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.5);
    }
    75%{
        box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.55);
    }
    100%{
        box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.6);
    }
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
*{
    padding: 0;
    margin: 0;
}
  
.login{
        background-image: url(/_next/static/media/fundo.8d018a6b.png) !important ;
        background-repeat: no-repeat;
        background-size: cover;
}
.bodyC{
    background-color: rgb(15 23 42) !important;
    min-height: 100vh;
    background-image: none;
}
