@import "./css/home/carrossel.css";
@import "./css/home/home.css"; 
@import "./css/home/media.css"; 
@import "./css/login/login.css"; 

*{
    padding: 0;
    margin: 0;
}
  
body{
    background-color: rgb(15 23 42) !important  ;
    min-height: 100vh;
    background-image: none;
}