@import "./css/home/carrossel.css";
@import "./css/home/home.css"; 
@import "./css/home/media.css"; 
@import "./css/login/login.css"; 
@import "./css/users/users.css";

*{
    padding: 0;
    margin: 0;
}
  
.login{
        background-image: url('../static/fundo.png') !important ;
        background-repeat: no-repeat;
        background-size: cover;
}
.bodyC{
    background-color: rgb(15 23 42) !important;
    min-height: 100vh;
    background-image: none;
}