/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/Login/login.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.login_body__wTBSu{
    background-image: url(/_next/static/media/fundo.8d018a6b.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

div#login_login__06gfp{
    background-color: rgba(0,0,0,0.8);
    color: white;
}



